body {
    margin: 0px;
    padding: 0px;
    background-color: #f5f7f8;
}

.thinborder {
    width: 100%;
    height: 0.5px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0px auto;
}

.section {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: fit-content;
    margin-top: 30px;

}

.sectoin-header {
    margin: 0px 0px 20px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #163172;
}


/* firstdisplayanimation */
.firstdisplayanimated {
    animation: firstdisplayanimation .8s ease forwards;
}

@keyframes firstdisplayanimation {
    0% {
        transform: scale(0.8) var(--transform, scale(0.95));
        opacity: 0;
        filter: blur(40px);
    }

    80% {
        transform: scale(1.05) var(--transform, scale(1));
    }
    
    100% {
        opacity: 1;
        filter: none;
        transform: scale(1) var(--transform, scale(1));

    }
}