.heading {
    position: relative;
    width: calc(100% - 20px);
    height: fit-content;
    margin: 10px 10px 0px 10px;

}

.heading .img-container {
    position: relative;
    width: 100%;
    height: 250px;

    overflow: hidden;
    border-radius: 10px;
}

.heading .img-container .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, #F5F7F8 100%);

}
.heading .img-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.heading h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #163172;

    margin: 0px;
}

.description {
    margin: 40px auto;
    width: calc(90% - 40px);
    height: fit-content;
    padding: 10px 20px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #163172;

    background-color: rgba(214, 228, 240, .6);
    border-radius: 10px;
}

.provided-with {
    margin-left: 50px;
    width: calc(100% - 50px);
    height: fit-content;
}

.provided-with span {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: rgba(0, 0, 0, 0.8);
}

.provided-with .feature-container {
    margin: 10px 0px 0px 5px;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.provided-with .feature-container .feature {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #163172;
    border-radius: 10px;
    background-color: #fff;
    border: .5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}

.provided-with .feature-container .feature .svg-container {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, .05);

}

.provided-with .feature-container .feature .svg-container svg {width: 25px;}